# Django / Python
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
.env
*.log

# venv
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Static & Media (opcional se quiser manter limpo)
staticfiles/
media/
